# Core Libraries
pandas
numpy
scipy
seaborn
matplotlib

# Machine Learning & Preprocessing
scikit-learn==1.4.2
xgboost
lightgbm
imbalanced-learn
imblearn
category-encoders

# Streamlit for Deployment
streamlit

